*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# SIM-LinqPad specific
SIM.Tool.Plugins.LinqpadTools/References/SIM.Base.dll
SIM.Tool.Plugins.LinqpadTools/References/SIM.Kernel.Adapters.dll
SIM.Tool.Plugins.LinqpadTools/References/SIM.Kernel.Instances.dll
SIM.Tool.Plugins.LinqpadTools/References/SIM.Kernel.Pipelines.dll
SIM.Tool.Plugins.LinqpadTools/References/SIM.Tool.Base.dll
